AccessModifierOffset: -2
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BasedOnStyle: Google
BreakBeforeBraces: Attach
ColumnLimit: 120
FixNamespaceComments: false
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 2
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyBreakComment: 100
SpaceAfterTemplateKeyword: false
