.idea
tests/build
tests/results
CMakeLists.txt
CoDi.files
CoDi.includes
CoDi.config
CoDi.creator
CoDi.creator.user
CoDi.creator.user.*
*.autosave
documentation/html
documentation/tutorial1
documentation/tutorial2
documentation/tutorial3
documentation/tutorial4
documentation/tutorial5
documentation/tutorial6
*.exe
